<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<div id="app11">
					<input type="radio" v-model="picked" id="html" value="html" />
					<label for="html">html</label>
					<br>
					<input type="radio" v-model="picked" id="css" value="css">
					<label for="css">css</label>
					<br>
					<input type="radio" v-model="picked" id="js" value="js">
					<label for="js">js</label>
					<br>
					<input type="text" v-model="picked" placeholder="请输入你选择"/>
					<p>你的选择是{{picked}}</p>
				</div>
				<script type="text/javascript">
					var app11 = new Vue({
						el:'#app11',
						data:{
							picked:''
						},
						//v-model与data里的值有关,@input与方法有关
						// methods:{
						// 	input:function(e){
						// 		this.picked=e.target.value;
						// 	}
						// }
					})
				</script>
	</body>
</html>
