<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>个人中心</title>
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="layui/jquery-3.5.1.min.js" type="text/javascript"
	charset="utf-8"></script>
<style type="text/css">
.body {
	margin-top: 20px;
}

.item {
	margin-top: 40px;
}

.mradio {
	border: 0px;
	width: 50px;
	height: 20px;
	background-color: #333;
	font-size: 12px;
	color: #fff;
}
.set{
	padding-top: 9px;
	line-height: 20px;
}
</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-bg-green layui-header layui-row">
			<div class="layui-logo">
				<a style="color: white;" href="/index.html">人生艰难书店</a>
			</div>
			<div class="layui-col-xs-offset4 layui-col-xs4 layui-row"
				style="margin-top: 11px;">
				<div class="layui-col-xs10">
					<input type="text" id="commodityName" placeholder="请输入商品名称"
						class="layui-input">
				</div>
				<button type="button" onclick="search()" class="layui-btn">
					<i class="layui-icon layui-icon-search layui-col-xs2"></i>
				</button>
			</div>
			<ul class="layui-nav layui-col-xs-offset9">
				<li class="layui-nav-item"><a href="/index.html">主页</a></li>
				<li class="layui-nav-item"><a href="">留言</a></li>
				<li class="layui-nav-item"><a href="javascript:;" id="nickname"></a>
					<dl class="layui-nav-child">
						<dd>
							<a href="#my;">我的信息</a>
						</dd>
						<dd>
							<a href="#record">我的图书</a>
						</dd>
						<dd>
							<a href="#shop">购物车</a>
						</dd>
						<dd>
							<a href="javascript:exit();">退出</a>
						</dd>
					</dl></li>
			</ul>
		</div>
		<div style="font-size: 20px"
			class="layui-col-xs-offset2 layui-col-xs8">

			<div class="layui-tab layui-tab-brief" lay-filter="test">
				<ul class="layui-tab-title">
					<li class="layui-this" lay-id="#my">个人信息</li>
					<li class="layui-col-xs-offset1" lay-id="#shop">购物车</li>
					<li class="layui-col-xs-offset1" lay-id="#record">购买记录</li>
					<li class="layui-col-xs-offset1" lay-id="#password">修改密码</li>
				</ul>
				<div class="layui-tab-content" style="height: 470px;overflow: auto;">
					<div id="self" class="layui-tab-item layui-show" style="overflow: auto">
						<div class="layui-col-xs10 layui-col-xs-offset1">
							<div class="item">
								<label class="layui-form-label">昵称：</label>
								<div class="layui-input-block">
									<input id="nickname" class="layui-input" type="text"
										v-bind:value="user.nickname" />
								</div>
							</div>
							<div class="item">
								<label class="layui-form-label">账户：</label>
								<div class="layui-input-block">
									<input disabled="disabled" class="layui-input" type="text"
										v-bind:value="user.username" />
								</div>
							</div>
							<div class="item">
								<label class="layui-form-label">性别：</label>
								<div class="layui-input-block">
									<input type="radio" class="mradio" v-model="user.gender"
										name="gender" value="true" id="man"><label for="man">男</label>
									<input type="radio" class="mradio" v-model="user.gender"
										name="gender" value="false" id="woman"><label for="woman">女</label>
								</div>
							</div>
							<div class="item">
								<label class="layui-form-label">年龄：</label>
								<div class="layui-input-block">
									<input id="age" class="layui-input" type="text"
										v-bind:value="user.age" />
								</div>
							</div>
							<div class="item">
								<label class="layui-form-label">余额：</label>
								<div class="layui-input-block">
									<input disabled="disabled" id="balance" class="layui-input"
										type="text" v-bind:value="user.balance" />
								</div>
							</div>
							<div class="item">
								<label class="layui-form-label">密保：</label>
								<div class="layui-input-block">
									<div v-if="user.isSafe">
										<div style="color: green;" class="layui-col-xs2 set">已设置密保</div>
										<button type="button" style="margin-left: 5px" onclick="setSafe()" class="layui-btn">更改</button>
									</div>
									<div v-else>
										<div style="color: red;" class="layui-col-xs2 set">未设置密保</div>
										<button type="button" style="margin-left: 5px" onclick="setSafe()" class="layui-btn">设置</button>
										<div class="layui-col-xs4">（密保用于密码丢失时进行找回）</div>
									</div>
									
								</div>
							</div>
							<div class="item">
								<label class="layui-form-label">操作：</label>
								<div class="layui-input-block">
									<button type="button"
										class="layui-btn layui-btn-radius layui-btn-warm"
										onclick="update()">修改</button>
									&nbsp;&nbsp;
									<button type="button"
										class="layui-btn layui-btn-radius layui-btn-danger"
										onclick="removeUser()">注销</button>
								</div>
							</div>
						</div>
					</div>
					<div id="shop" class="layui-tab-item">
						<div class='layui-card'
							style='height: 170px; padding: 10px; background-color: #F2F2F2;'
							v-for="commodity in commodities">
							<div class='layui-col-xs4'>
								<img
									v-bind:src="'http://192.168.0.105/image/bookstore/commodity/' + commodity.imageName + '.jpg'">
							</div>
							<div class='layui-col-xs4'>
								<div style='height: 40px; margin-top: 20px;'>
									<a
										v-bind:href="'commodity.html?commodityId=' + commodity.id">{{commodity.name}}</a>
								</div>
								<div style='height: 50px; color: red;'>
									<b>￥{{commodity.price}}</b>
								</div>
								<button type="button" class="layui-btn layui-btn-warm"
									v-on:click="window.location.href = 'commodity.html?commodityId='+commodity.id;">详情</button>
								<button type="button" class="layui-btn"
									v-on:click="window.location.href = 'pay.html?commodityId='+commodity.id;">购买</button>
								<button type="button" class="layui-btn layui-btn-danger"
									v-on:click="remove(commodity.id)">移除</button>
							</div>
						</div>
						<div v-if="commodities.length == 0">购物车没有记录</div>
					</div>
					<div id="record" class="layui-tab-item">
						<div class='layui-card'
							style='height: 170px; padding: 10px; background-color: #F2F2F2;'
							v-for="commodity in commodities">
							<div class='layui-col-xs4'>
								<img
									v-bind:src="'http://192.168.0.105/image/bookstore/commodity/' + commodity.imageName + '.jpg'">
							</div>
							<div class='layui-col-xs4'>
								<div style='height: 40px; margin-top: 20px;'>
									<a
										v-bind:href="'commodity.html?commodityId=' + commodity.id">{{commodity.name}}</a>
								</div>
								<div style='height: 50px; color: red;'>
									<b>￥{{commodity.price}}</b>
								</div>
								<button type="button" class="layui-btn layui-bg-red" >阅读<span style="">(暂不支持)</span></button>
								<button type="button" class="layui-btn"
									v-on:click="download(commodity.id)">下载</button>
							</div>
						</div>
						<div v-if="commodities.length == 0">没有购买记录</div>
					</div>
					<div
						class="layui-tab-item layui-form layui-form-pane layui-col-xs-offset1 layui-col-xs10">
						<div class="item">
							<label class="layui-form-label">旧密码</label>
							<div class="layui-input-block">
								<input id="oldpwd" class="layui-input" type="text" />
							</div>
						</div>
						<div class="item">
							<label class="layui-form-label">新密码</label>
							<div class="layui-input-block">
								<input id="newpwd" class="layui-input" type="text" />
							</div>
						</div>
						<div class="layui-form-item" style="margin-top: 20px;">
							<div class="layui-input-block">
								<button class="layui-btn" type="button" onclick="alterpwd()">立即修改</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		function setSafe(){
			window.location.href = "safe.html";
		}
	</script>
	<script>
		function exit(){
			sessionStorage.removeItem('token');
			sessionStorage.removeItem('nickname');
			window.location.href = 'index.html'
		}
		window.onload = function(){
			//用户信息获取
			nickname = sessionStorage.getItem('nickname');
			token = sessionStorage.getItem('token');
			if(nickname != null&&token!=null){
				this.nickname = nickname
				this.isLogin = true;
			}else{
				layui.use('layer', function(){
					var layer = layui.layer;
					layer.alert("未登录，请登录")
					window.location.href = 'login.html'
				})
			}
			$("#nickname").text("欢迎您，"+nickname);
			//获取基本用户信息
			self = new Vue({
				el: '#self',
				data: {
					user: {}
				},
				created: function(){
					var that = this
					$.getJSON('http://192.168.0.105:8055/user/info', {
						token: token
					}, function(res){
						if(res.code == 200){
							that.user = res.user;
						}else if(res.code == 300){
							alert("登录信息过期，请重新登录")
							window.location.href = 'login.html'
						}
					})
				}
			})
			//购物车信息
			shop = new Vue({
				el: '#shop',
				data: {
					commodities: []
				},
				created: function(){
					var that = this
					$.getJSON('http://192.168.0.105:8055/user/shop', {
						token: token,
						page: 1,
						limit: 9
					}, function(res){
						if(res.code == 200){
							that.commodities = res.data;
						}
					})
				},
				methods: {
					remove: function(commodityId) {
						$.getJSON('http://192.168.0.105:8055/shop/remove?commodityId=' + commodityId, function(
								result) {
							if (result.code == 200) {
								layer.msg('购物车删除成功');
								//重新获取购物车列表
								location.reload();
							} else if (result.code == 404) {
								alert("请先登录," + result.message);
								window.location.href = "login.html"
							}
						});
					}
				}
			})
			//购物车信息
			record = new Vue({
				el: '#record',
				data: {
					commodities: []
				},
				created: function(){
					var that = this
					$.getJSON('http://192.168.0.105:8055/user/record', {
						token: token,
						page: 1,
						limit: 9
					}, function(res){
						if(res.code == 200){
							that.commodities = res.data;
						}
					})
				},
				methods: {
					download: function(commodityId){
						download(commodityId)
						
					}
				}
			});
		}
		function download(commodityId){
			$.getJSON('http://192.168.0.105:8055/shop/getDownloadPath', {
				token: token,
				commodityId: commodityId
			}, function(res){
				if(res.code == 200){
					window.open('http://192.168.0.105:8055/resource/download?token='+res.data, '_blank')
				}else{
					alert(res.message)
				}
			})
		}
		
		function alterpwd() {
			var oldpwd = $("#oldpwd").val();
			var newpwd = $("#newpwd").val();
			$.getJSON('http://192.168.0.105:8055/user/alterpwd',
				{
					token: token,
					oldpwd : oldpwd,
					newpwd : newpwd
				},
				function(result) {
					layui.use('layer',function() {
						var layer = layui.layer;
						layer.open({
							title : '结果',
							content : result.code == 200 ? '修改成功，请重新登陆'
									: '修改错误，原因：'
											+ result.message,
							btm : [ "确定" ],
							yes : function(index,layero) {
								if(result.code == 200){
									sessionStorage.removeItem('token');
									sessionStorage.removeItem('nickname');
									window.location.href = 'index.html'
								}else{
									location.reload();
								}
							}
						})
					})
				})
		}

		function search() {
			var commodityName = $("#commodityName").val();
			window.location.href = "search.html?commodityName="
					+ commodityName;
		}

		function update() {
			var nickname = $("#nickname").val();
			var age = $("#age").val();
			var gender = $("input[name='gender']:checked").val();
			$.post('http://192.168.0.105:8055/user/update', {
				token: token,
				nickname : nickname,
				gender : gender,
				age : age
			}, function(result) {
				layui.use('layer', function() {
					var layer = layui.layer;
					layer.open({
						title : '修改结果',
						content : result.code == 200 ? '修改成功' : '修改失败，原因：'
								+ result.message,
						btm : [ "确定" ],
						yes : function(index, layero) {
							location.reload()
						}
					})
				});
			});
		}

		function removeUser() {
			layui.use('layer', function() {
				var layer = layui.layer;
				layer.confirm('真的要注销吗', {
					btn : [ '想好了，注销', '我再想想' ] //可以无限个按钮
					,
					btn2 : function(index, layero) {
						console.log("我再想想")
					}
				}, function(index, layero) {
					$.getJSON('http://192.168.0.105:8055/user/logout', {
						token: token
					}, function(result) {
						layer.open({
							title : '注销结果',
							content : result.code == 200 ? '注销成功' : '注销失败，原因：'
									+ result.message,
							btm : [ "确定" ],
							yes : function(index, layero) {
								if(result.code == 200){
									sessionStorage.removeItem('token');
									sessionStorage.removeItem('nickname');
									window.location.href = '/index.html';
								}
							}
						})
					})
				});
			});
		}
		layui.use([ 'form', 'element' ], function() {
			element = layui.element;
			var form = layui.form;
			//Hash地址的定位
			var layid = location.hash;
			element.tabChange('test', layid);

			element.on('tab(test)', function(elem) {
				location.hash = $(this).attr('lay-id');
			});
		})

	</script>
</body>
</html>
